In [22]:
import pandas as pd
import numpy as np

In [2]:
cardio = pd.read_csv('cardio_alco.csv')

In [3]:
cardio.head()

  id;alco
0    44;0
1    45;0
2    46;0
3    47;0
4    49;0

In [4]:
cardio.shape

(56903, 1)

In [5]:
cb = pd.read_csv('cardio_base.csv')

In [6]:
cb.shape

(70000, 9)

In [7]:
cb.head()

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   0  18393       2     168    62.0    110     80            1      0
1   1  20228       1     156    85.0    140     90            3      0
2   2  18857       1     165    64.0    130     70            3      0
3   3  17623       2     169    82.0    150    100            1      0
4   4  17474       1     156    56.0    100     60            1      0

In [8]:
cd = pd.read_csv('covid_data.csv')

In [9]:
cd.head(10)

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5
5,Afghanistan,2020-01-05,0,0,38928341.0,2.581,1803.987,0.5
6,Afghanistan,2020-01-06,0,0,38928341.0,2.581,1803.987,0.5
7,Afghanistan,2020-01-07,0,0,38928341.0,2.581,1803.987,0.5
8,Afghanistan,2020-01-08,0,0,38928341.0,2.581,1803.987,0.5
9,Afghanistan,2020-01-09,0,0,38928341.0,2.581,1803.987,0.5

In [10]:
cd.shape

(23082, 8)

In [11]:
pd.describe('cb')

AttributeError: module 'pandas' has no attribute 'describe'

In [12]:
cb.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,0.088129
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.283484
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,0.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,1.000000

In [13]:
cb.head()

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   0  18393       2     168    62.0    110     80            1      0
1   1  20228       1     156    85.0    140     90            3      0
2   2  18857       1     165    64.0    130     70            3      0
3   3  17623       2     169    82.0    150    100            1      0
4   4  17474       1     156    56.0    100     60            1      0

In [14]:
cb.tail()

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
69995  99993  19240       2     168    76.0    120     80            1      1
69996  99995  22601       1     158   126.0    140     90            2      0
69997  99996  19066       2     183   105.0    180     90            3      0
69998  99998  22431       1     163    72.0    135     80            1      0
69999  99999  20540       1     170    72.0    120     80            2      0

In [15]:
total_men = cb[cb['gender'] == '1'].shape[0]
total_women = cb[cb['gender'] == '2'].shape[0]
print(total_men); print(total_women)

0
0

In [17]:
cb.max(height)

NameError: name 'height' is not defined

In [18]:
tallest_one_percent = cb['height'].quantile(0.99)

In [19]:
print("Height of the tallest one percent of people:", tallest_one_percent)

Height of the tallest one percent of people: 184.0

In [20]:
spearman_corr = cb.corr(method='spearman')

In [24]:
max_corr_indices = spearman_corr.abs().stack().idxmax()

In [25]:
feature1, feature2 = max_corr_indices

In [26]:
print("Features with the highest Spearman rank correlation:")
print("Feature 1:", feature1)
print("Feature 2:", feature2)
print("Correlation coefficient:", spearman_corr.loc[feature1, feature2])

Features with the highest Spearman rank correlation:
Feature 1: id
Feature 2: id
Correlation coefficient: 1.0

In [28]:
mean_height = cb['height'].mean()
std_dev_height = cb['height'].std()
print(mean_height); print(std_dev_height)

164.35922857142856
8.210126364538139

In [29]:
lower_bound = mean_height - 2 * std_dev_height
upper_bound = mean_height + 2 * std_dev_height

In [30]:
outliers = cb[(cb['height'] < lower_bound) | (cb['height'] > upper_bound)]

In [31]:
percentage_outliers = (len(outliers) / len(cb)) * 100

print("Percentage of people more than 2 standard deviations away from the average height:", percentage_outliers)

Percentage of people more than 2 standard deviations away from the average height: 3.3357142857142854

In [43]:
md = pd.merge(cardio, cb, left_on='id', right_on='id', how='inner')

KeyError: 'id'

In [44]:
cardio.head()

  id;alco
0    44;0
1    45;0
2    46;0
3    47;0
4    49;0

In [46]:
cb.head()

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   0  18393       2     168    62.0    110     80            1      0
1   1  20228       1     156    85.0    140     90            3      0
2   2  18857       1     165    64.0    130     70            3      0
3   3  17623       2     169    82.0    150    100            1      0
4   4  17474       1     156    56.0    100     60            1      0

In [47]:
md = pd.merge(cardio, cb, left_index=True, right_index=True, how='inner')

In [48]:
md.head()

  id;alco  id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0    44;0   0  18393       2     168    62.0    110     80            1      0
1    45;0   1  20228       1     156    85.0    140     90            3      0
2    46;0   2  18857       1     165    64.0    130     70            3      0
3    47;0   3  17623       2     169    82.0    150    100            1      0
4    49;0   4  17474       1     156    56.0    100     60            1      0

In [49]:
over_50 = md[md['age'] > 50]

In [50]:
print(over_50)

       id;alco     id    age  gender  height  weight  ap_hi  ap_lo  \
0         44;0      0  18393       2     168    62.0    110     80
1         45;0      1  20228       1     156    85.0    140     90
2         46;0      2  18857       1     165    64.0    130     70
3         47;0      3  17623       2     169    82.0    150    100
4         49;0      4  17474       1     156    56.0    100     60
...        ...    ...    ...     ...     ...     ...    ...    ...
56898  99949;0  81221  18837       1     168    66.0    110     80
56899  99950;0  81224  22436       1     170    70.0    120     80
56900  99951;0  81225  20667       1     165    59.0    120     89
56901  99952;0  81226  14733       2     152    54.0    120     80
56902  99954;0  81227  19520       1     162    85.0    140     80

       cholesterol  smoke
0                1      0
1                3      0
2                3      0
3                1      0
4                1      0
...            ...    ...
56898            1      0
56899            1      0
56900            1      0
56901            1      0
56902            2      0

[56903 rows x 10 columns]

In [52]:
alcohol_consumers = over_50[over_50['id;alco'] == 'Yes']
percentage_consumers = (len(alcohol_consumers) / len(over_50)) * 100

print("Percentage of population over 50 years who consume alcohol:", percentage_consumers)

Percentage of population over 50 years who consume alcohol: 0.0

In [53]:
cd.head()

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5

In [54]:
italy_data = cd[cd['location'] == 'Italy']
germany_data = cd[cd['location'] == 'Germany']

In [55]:
italy_data.head()

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
10688,Italy,2019-12-31,0,0,60461828.0,23.021,35220.084,3.18
10689,Italy,2020-01-01,0,0,60461828.0,23.021,35220.084,3.18
10690,Italy,2020-01-02,0,0,60461828.0,23.021,35220.084,3.18
10691,Italy,2020-01-03,0,0,60461828.0,23.021,35220.084,3.18
10692,Italy,2020-01-04,0,0,60461828.0,23.021,35220.084,3.18

In [57]:
italy_data.loc[:, 'cumulative_cases'] = italy_data['new_cases'].cumsum()
germany_data.loc[:, 'cumulative_cases'] = germany_data['new_cases'].cumsum()

In [59]:
merged_data = pd.merge(italy_data, germany_data, on='date', suffixes=('_italy', '_germany'))

In [60]:
merged_data['cumulative_diff'] = merged_data['cumulative_cases_italy'] - merged_data['cumulative_cases_germany']

In [61]:
date_difference_10000 = merged_data[merged_data['cumulative_diff'] > 10000]['date'].iloc[0]

In [62]:
date_difference_10000

'2020-03-12'

In [63]:
import numpy as np
from scipy.optimize import curve_fit

In [64]:
italy_data = cd[(cd['location'] == 'Italy') & (cd['date'] >= '2020-02-28') & (cd['date'] <= '2020-03-20')]

In [65]:
def exponential_func(x, A, B):
    return A * np.exp(B * x)

In [66]:
x_data = np.arange(len(italy_data))
y_data = italy_data['new_cases'].cumsum()

In [67]:
popt, pcov = curve_fit(exponential_func, x_data, y_data)

In [68]:
days_since_feb_28 = (pd.to_datetime('2020-03-20') - pd.to_datetime('2020-02-28')).days
predicted_cases_20200320 = exponential_func(days_since_feb_28, *popt)

In [70]:
real_cases_20200320 = y_data.iloc[-1]

In [71]:
difference = predicted_cases_20200320 - real_cases_20200320

print("Difference between the exponential curve and the real cases on 2020-03-20:", difference)

Difference between the exponential curve and the real cases on 2020-03-20: 1711.692669342141

In [72]:
cd['death_rate'] = cd['new_deaths'] / cd['new_cases']

In [73]:
country_death_rates = cd.groupby('location')['death_rate'].mean().reset_index()

In [74]:
sorted_death_rates = country_death_rates.sort_values(by='death_rate', ascending=False)

In [75]:
third_highest_country = sorted_death_rates.iloc[2]['location']
third_highest_death_rate = sorted_death_rates.iloc[2]['death_rate']

In [76]:
print("The country with the third highest death rate is:", third_highest_country)
print("Its death rate is:", third_highest_death_rate)

The country with the third highest death rate is: Isle of Man
Its death rate is: inf

In [77]:
cd['death_rate_per_million'] = (cd['total_deaths'] / cd['population']) * 1_000_000

KeyError: 'total_deaths'

In [78]:
total_deaths = cd.groupby('location')['new_deaths'].sum().reset_index()

In [79]:
merged_data = pd.merge(total_deaths, cd[['location', 'population']], on='location')

In [80]:
merged_data['death_rate_per_million'] = (merged_data['new_deaths'] / merged_data['population']) * 1_000_000

In [81]:
sorted_death_rates = merged_data.sort_values(by='death_rate_per_million', ascending=False)

In [82]:
third_highest_country = sorted_death_rates.iloc[2]['location']
third_highest_death_rate = sorted_death_rates.iloc[2]['death_rate_per_million']

In [83]:
print("The country with the third highest death rate per million is:", third_highest_country)
print("Its death rate per million is:", third_highest_death_rate)

The country with the third highest death rate per million is: San Marino
Its death rate per million is: 1237.5508279804349

In [84]:
total_countries = len(cd['location'].unique())

In [85]:
gdp_over_10000 = len(cd[cd['gdp_per_capita'] > 10000]['location'].unique())

In [86]:
hospital_beds_over_5 = len(cd[cd['hospital_beds_per_thousand'] >= 5]['location'].unique())

In [87]:
gdp_over_10000_and_beds_over_5 = len(cd[(cd['gdp_per_capita'] > 10000) & (cd['hospital_beds_per_thousand'] >= 5)]['location'].unique())

In [88]:
probability_gdp_over_10000_and_beds_over_5 = gdp_over_10000_and_beds_over_5 / total_countries

In [89]:
probability_beds_over_5 = hospital_beds_over_5 / total_countries

In [90]:
conditional_probability = probability_gdp_over_10000_and_beds_over_5 / probability_beds_over_5

In [91]:
print("Probability of a country having GDP over 10,000 given at least 5 hospital beds per 1000 inhabitants:", conditional_probability)

Probability of a country having GDP over 10,000 given at least 5 hospital beds per 1000 inhabitants: 0.8214285714285715