In [1]:
import numpy as np
import pandas as pd

In [2]:
#filling null values
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [3]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [4]:
#forward-fill, propagates the previous value forward
data.fillna(method='ffill')

/tmp/ipykernel_49207/2528399106.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [5]:
obj.bfill(data)

NameError: name 'obj' is not defined

In [7]:
data.fillna(method='bfill')

/tmp/ipykernel_49207/1397359497.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

In [11]:
#methods of multinIndex Creation
df = pd.DataFrame(np.random.rand(4, 2),
                 index=[['a', 'a','b', 'b'], [1, 2, 1, 2]],
                 columns=['data1', 'data2'])
df

        data1     data2
a 1  0.524082  0.794393
  2  0.836454  0.158245
b 1  0.797426  0.811679
  2  0.820995  0.268589

In [13]:
data = {('California', 2000): 33871648,
('California', 2010): 37253956,
('Texas', 2000): 20851820,
('Texas', 2010): 25145561,
('New York', 2000): 18976457,
('New York', 2010): 19378102}
pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

In [22]:
#Merging and Joining
df1 = pd.DataFrame({'student': ['Brevian', 'Osewe', 'Castin', 'Maloba'],
                    'course': ['GIS', 'Comp Science', 'Engineering', 'Bcom']})
df2 = pd.DataFrame({'student': ['Brevian', 'Castin', 'Osewe', 'Maloba'],
                    'specialization': ['LLM', 'CSS', 'Theatre', 'C.Engineering']})
print(df1); print(df2)

   student        course
0  Brevian           GIS
1    Osewe  Comp Science
2   Castin   Engineering
3   Maloba          Bcom
   student specialization
0  Brevian            LLM
1   Castin            CSS
2    Osewe        Theatre
3   Maloba  C.Engineering

In [23]:
df3 = pd.merge(df1, df2)
df3

   student        course specialization
0  Brevian           GIS            LLM
1    Osewe  Comp Science        Theatre
2   Castin   Engineering            CSS
3   Maloba          Bcom  C.Engineering

In [25]:
df4 = pd.DataFrame({'course': ['GIS', 'Comp Science', 'Engineering', 'Bcom'],
                    'course_id': ['E032', 'CS50', 'E023', 'B234']})
print(df4); print(df3); print(pd.merge(df3, df4))

         course course_id
0           GIS      E032
1  Comp Science      CS50
2   Engineering      E023
3          Bcom      B234
   student        course specialization
0  Brevian           GIS            LLM
1    Osewe  Comp Science        Theatre
2   Castin   Engineering            CSS
3   Maloba          Bcom  C.Engineering
   student        course specialization course_id
0  Brevian           GIS            LLM      E032
1    Osewe  Comp Science        Theatre      CS50
2   Castin   Engineering            CSS      E023
3   Maloba          Bcom  C.Engineering      B234

In [27]:
print(df1); print(df2); print(pd.merge(df1, df2, on='student'))

   student        course
0  Brevian           GIS
1    Osewe  Comp Science
2   Castin   Engineering
3   Maloba          Bcom
   student specialization
0  Brevian            LLM
1   Castin            CSS
2    Osewe        Theatre
3   Maloba  C.Engineering
   student        course specialization
0  Brevian           GIS            LLM
1    Osewe  Comp Science        Theatre
2   Castin   Engineering            CSS
3   Maloba          Bcom  C.Engineering

In [28]:
df3 = pd.DataFrame({'name': ['Brevian', 'Osewe', 'Castin', 'Maloba'],
                    'grade': ['B', 'C', 'B', 'A']})
print(df1); print(df2);
print(pd.merge(df1, df3, left_on='student', right_on='name'))

   student        course
0  Brevian           GIS
1    Osewe  Comp Science
2   Castin   Engineering
3   Maloba          Bcom
   student specialization
0  Brevian            LLM
1   Castin            CSS
2    Osewe        Theatre
3   Maloba  C.Engineering
   student        course     name grade
0  Brevian           GIS  Brevian     B
1    Osewe  Comp Science    Osewe     C
2   Castin   Engineering   Castin     B
3   Maloba          Bcom   Maloba     A

In [29]:
#dropping the redudand column
pd.merge(df1, df3, left_on='student', right_on='name').drop('name', axis=1)

   student        course grade
0  Brevian           GIS     B
1    Osewe  Comp Science     C
2   Castin   Engineering     B
3   Maloba          Bcom     A