In [3]:
import numpy as np
import pandas as pd
pd.__version__

'2.2.1'

In [4]:
pd?

Type:        module
String form: <module 'pandas' from '/home/moyi/miniconda3/lib/python3.12/site-packages/pandas/__init__.py'>
File:        ~/miniconda3/lib/python3.12/site-packages/pandas/__init__.py
Docstring:
pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

In [8]:
#Pandas Series(One dimensional array of indexed data)
data = pd.Series([0.25, 0.5, 0.56, 0.75])
data

0    0.25
1    0.50
2    0.56
3    0.75
dtype: float64

In [9]:
data.values

array([0.25, 0.5 , 0.56, 0.75])

In [10]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
data = pd.Series([0.25, 0.5, 0.56, 0.75],
               index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.56
d    0.75
dtype: float64

In [16]:
data['d']

0.75

In [17]:
population_dict = {'Embakassi': 365746,
                   'Donholm': 45689,
                   'Rongai': 234789,
                   'Imaara Daima': 56789,
                   'Ruiru': 874563}
population = pd.Series(population_dict)
population

Embakassi       365746
Donholm          45689
Rongai          234789
Imaara Daima     56789
Ruiru           874563
dtype: int64

In [18]:
population['Embakassi']

365746

In [20]:
population['Embakassi':'Ruiru']

Embakassi       365746
Donholm          45689
Rongai          234789
Imaara Daima     56789
Ruiru           874563
dtype: int64

In [22]:
area_dict = {'Embakassi': 48903, 'Donholm': 12345, 'Rongai': 54672, 'Imaara Daima': 2345,
             'Ruiru': 67589}
area = pd.Series(area_dict)
area

Embakassi       48903
Donholm         12345
Rongai          54672
Imaara Daima     2345
Ruiru           67589
dtype: int64

In [24]:
residentials = pd.DataFrame({'population': population,
                            'area': area})
residentials

              population   area
Embakassi         365746  48903
Donholm            45689  12345
Rongai            234789  54672
Imaara Daima       56789   2345
Ruiru             874563  67589

In [25]:
#Constructing DataFrames From single Series project.
pd.DataFrame(population, columns=['population'])

              population
Embakassi         365746
Donholm            45689
Rongai            234789
Imaara Daima       56789
Ruiru             874563

In [27]:
#From a list of dicts
data = [{'a':i, 'b':2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [28]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [29]:
#From a dictionary of Series objects
pd.DataFrame({'population': population,
              'area': area})

              population   area
Embakassi         365746  48903
Donholm            45689  12345
Rongai            234789  54672
Imaara Daima       56789   2345
Ruiru             874563  67589

In [31]:
#From a 2D NumPy array.
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.414987  0.636597
b  0.245906  0.369126
c  0.014350  0.926246

In [33]:
#From a NumPy structured array
A = pd.DataFrame(np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')]))
A

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [34]:
ind = pd.Index([2, 3, 5, 7, 11])

In [35]:
ind

Index([2, 3, 5, 7, 11], dtype='int64')

In [ ]:
#index as an immutable array